.header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: center;
    background-color: #FF3232;
}

.header__logo {
    width: 20%;
    height: 80px;
    object-fit: cover;
}

.header__logo img {
    width: 80px;
    height: 80px;
}

.header__title {
    width: 80%;
    height: 80px;

}

.header__title h1 {
    text-align: center;
}