#jouer {
    position: relative;
    font-size: 25px;
    top: 100px;
    border-radius: 15px;
    border: 3px solid #000;
    background-color: #FF3232;
    margin: auto;
    width: 25vh;
    min-height: 6vh;
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}