@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url("header.css");
@import url("footer.css");
@import url("jouer.css");
@import url("homeInput.css");
@import url("questions.css");

body {
    margin: 0;
}
#root {
    font-family: "Rubik", sans-serif;
}

